<%- include('partials/header') %> 
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Order Your Favourite Subway</h1>

        <form action="http://localhost:3000/orderComplete" method="post">
            <label for="meat">Type:</label>
            <input type="text" name="meat" id="meat">

            <label for="quantity">Quantity</label>
            <input type="number" name="qty" id="quantity">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>