<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    
    <div class="container">
        <h2>Your Order has been cancelled :( </h2>
        
         <a class="nav-link" href="/orders">Your Orders</a>
         <a href="/">Place New Order</a>
    </div>
    
</body>
</html>  