<%- include('partials/header') %> 
<body>
    <%- include('partials/navbar') %>

    <section class="container">
        <h1>Thanks for ordering</h1>
        <h3>Your <%= order.qty %> <%= order.meat %> will be ready in 20mins.</h3>
        <a href="/">Place new order</a>
    </section>
   
</body>
</html>